<!-- 
<ion-content class="ion-align-items-center">


  <ion-grid fixed class="centrado">
    <ion-row>
      <ion-col size="12" size-md="4" size-sm="4" size-lg="12" 
            *ngFor="let animal of animales; let i=index ">

            <ion-card>
              <ion-card-content class="ion-activatable">
                <img *ngIf="opcion.idioma == 'es'" [src]="animal.img" class="slide-image"
                (click)="play(animal.nombre + '-es')" alt="animal.nombre">
                <ion-ripple-effect type="bounded">
                </ion-ripple-effect>

                <img *ngIf="opcion.idioma == 'en'" [src]="animal.img" class="slide-image"
                  (click)="play(animal.nombre + '-en')" alt="animal.nombre">
                  <ion-ripple-effect type="bounded">
                  </ion-ripple-effect>

                <img *ngIf="opcion.idioma == 'pt'" [src]="animal.img" class="slide-image"
                  (click)="play(animal.nombre + '-pt')" alt="animal.nombre">
                <ion-ripple-effect type="bounded">
                </ion-ripple-effect>
    
              </ion-card-content>
            </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->


<app-content [data]="animales" [opcion]="opcion"></app-content>