<app-header titulo="Iniciar sesión"></app-header>

<ion-content [fullscreen]="true" color="dark">
  <div class="center-content">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitTemplate()">
      <ion-item color="dark">
        <ion-label position="floating" color="light"><strong>Ingrese email</strong></ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <ion-note *ngIf="isNotValidField('email')" class="error-msg">
        {{getErrorMessage('email')}}
      </ion-note>
  
      <ion-item color="dark">
        <ion-label position="floating" color="light"><strong>Password</strong></ion-label>
        <ion-input formControlName="pass" type="password"></ion-input>
      </ion-item>
      <ion-note *ngIf="isNotValidField('pass')" class="error-msg">
        {{getErrorMessage('pass')}}
      </ion-note>
      
      <ion-button color="tertiary" fill="solid" expand="block" type="submit" [disabled]="this.loginForm.invalid">
        Enviar
      </ion-button>
  </form>
  </div>


</ion-content>
