.rotate-scale-up {
	animation: rotate-scale-up 0.65s linear both;
}

@keyframes rotate-scale-up {
    0% {
      transform: scale(1) rotateZ(0);
    }
    50% {
      transform: scale(2) rotateZ(180deg);
    }
    100% {
      transform: scale(1) rotateZ(360deg);
    }
  }
  
.text{
    font-style:normal;
    font-stretch: extra-expanded;
    font-weight: 900;
    text-decoration: solid;
    animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      transform: translateZ(300px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      transform: translateZ(12px);
      filter: blur(0);
      opacity: 1;
    }
  }

@keyframes fadeInAndSpin {

    100% {
        opacity: 1;
        transform: rotate3d(1, 1, 0, 0deg);
    }

}

@keyframes fadeIn {

    100% {
        opacity: 1;
    }

}

img{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 150px;
    height: 150px;
}


ion-content{
    --background:#545454;
    top: 30%;
    position: absolute;
}