<ion-header class="ion-no-border" translucent >
  <ion-toolbar color="danger" >

    <ion-title color="light" text-capitalize>Inicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="dark" class="ion-no-padding">
  
  <ion-fab vertical="top" horizontal="end" slot="fixed" >
    <ion-fab-button color="light">
      <ion-icon name="log-in-sharp"></ion-icon>
    </ion-fab-button>
    
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="iniciarSesion('admin')" color="success">
        <ion-icon name="construct-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="iniciarSesion('tester')" color="medium">
        <ion-icon name="bug-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="iniciarSesion('usuario')" color="primary">
        <ion-icon name="body-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    
  </ion-fab>
  <ion-img [src]="imgSrc" style="width: 450px; height: 450px;"></ion-img>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmitTemplate()">

    <ion-title class="ion-text-center title-container">
      <h1 class="title">Iniciar Sesión</h1>
    </ion-title>
    

    <ion-item color="dark" [ngClass]="{'item-has-focus': selectedUser}">
      <ion-label position="floating" class="custom-label">Correo electronico</ion-label>
      <ion-input type="email" placeholder="Ingrese su correo" name="email" formControlName="email" required>
      </ion-input>
    </ion-item>
    <ion-note color="dark" *ngIf="isNotValidField('email')" class="error-msg custom-label-sm">
      {{getErrorMessage('email')}}
    </ion-note>

    <ion-item color="dark" [ngClass]="{'item-has-focus': selectedUser}">
      <ion-label position="floating" class="custom-label">Contraseña</ion-label>
      <ion-input formControlName="pass" type="password" placeholder="Ingrese su contraseña" name="pass"
        required>
      </ion-input>
    </ion-item>

    <ion-note color="dark" *ngIf="isNotValidField('pass')" class="error-msg custom-label-sm">
      {{getErrorMessage('pass')}}
    </ion-note>
    
  
    <ion-toolbar color="dark" class="ion-padding-bottom content-submit">
      <ion-button color="danger" size="large" [disabled]="loginForm.invalid" expand="block" type="submit">
        INGRESAR
      </ion-button>
    </ion-toolbar>

</form>

</ion-content>