form{
  width: 100%;
}


.custom-button{
  height: 6vh;
  color: white;
}

ion-input{
  font-size: large;
  color: #FFC409;
  font-weight: 500;
  font-family: fantasy;
}

ion-toggle{
  color: #FFC409;
}

.custom-label{
  font-size: large;
  font-family: fantasy;
}

.custom-label-sm{
  font-size: small;
  font-family: fantasy;
}


ion-button{
  font-family: fantasy;
  font-size: medium;
}

ion-segment{
  font-family: fantasy;
}

.custom-label-user{
  font-size: small;
  font-family: fantasy;
}

ion-img{
  height: 350px;
}