<!-- <ion-list >

  <ion-item *ngFor="let imagen of imagenes; let i=index"  color="light">
    
    <app-tarjeta *ngIf="imagenes.length > 0" color="light" [imagen]="imagen"></app-tarjeta>

  </ion-item>
</ion-list> -->
<ion-chip color="light" mode="ios" outline="true">
  <ion-label>X : {{ejeX}}</ion-label>
</ion-chip>

<ion-chip color="light" mode="ios" outline="true">
  <ion-label>Z : {{ejeZ}}</ion-label>
</ion-chip>

<ion-chip color="light" mode="ios" outline="true">
  <ion-label>Y : {{ejeY}}</ion-label>
</ion-chip>
  <ion-slides class="slider" pager="true" [options]="slideOpts" #mySlider>
    <ion-slide class="slide" *ngFor="let imagen of imagenes; let i=index"  color="light">
    
      <app-tarjeta class="cont" *ngIf="imagenes.length > 0" color="light" [imagen]="imagen"></app-tarjeta>
  
    </ion-slide>
  </ion-slides>