<app-header titulo="Menú principal" class="ion-no-margin"></app-header>

<ion-content [fullscreen]="true" color="dark" class="fondo" style="top:15%;">

  <ion-item class="fondo ion-text-center" color="dark" lines="none">
    <ion-label color="light"><h1><strong>Billetera virtual</strong></h1></ion-label>
  </ion-item>
  <div class="center-content">
    <ion-list class="fondo" color="dark" lines="none">
      <div class="ion-activatable" color="dark">
        
        
        <ion-item (click)="presentActionSheet()" color="dark">
          <ion-icon size="large" slot="end" name="qr-code-sharp"></ion-icon>
          <ion-label>Cargar con código QR</ion-label>
        </ion-item>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
  
  
      </div>
    </ion-list>
  
    <ion-list class="fondo" color="dark" lines="none">
  
      <ion-item class="giant" color="dark" *ngIf="usuario">
        <ion-label>$ {{ usuario.credito }}</ion-label>
      </ion-item>
  
  
      <ion-item color="dark">
        <ion-label class="datos ion-text-center"><strong>Datos personales</strong></ion-label>
      </ion-item>
      <ion-item color="dark">
        <ion-label class="datos"> <strong>Nombre: </strong>{{ usuario.nombre  }}</ion-label>
      </ion-item>
      <ion-item color="dark">
        <ion-label class="datos"><strong>D.N.I.: </strong>{{ usuario.dni  }}</ion-label>
      </ion-item>
      <ion-item color="dark">
        <ion-label class="datos"><strong>Teléfono: </strong>{{ usuario.telefono  }}</ion-label>
      </ion-item>
      <ion-item color="dark">
        <ion-label class="datos"><strong>Domicilio: </strong>{{ usuario.domicilio  }}</ion-label>
      </ion-item>
      
  
    </ion-list>
  </div>


</ion-content>
<ion-footer color="dark">
  <ion-toolbar >
    <ion-button (click)="borrarCreditos()" size="large" expand="full" fill="solid"
    color="medium">
    Limpiar créditos
  </ion-button>
  </ion-toolbar>
</ion-footer>