.giant
{
    text-align: center !important;
    font-size: 150px !important;
    font-size-adjust: inherit !important;
}

.my-custom-class
{
    background-color: grey !important;
}

.datos{
    text-decoration: solid;
}

.content-center{
    position: absolute;
    width: 100%;
}


h1{
    font-family: emoji;
    font-size: xx-large;
    font-weight: bolder;
}

.fondo{
    background-color: #222428;
}

ion-item{
    background-color: #222428 !important;
}

.btn-qr{
    width: 100%;
    height: 100%;
}

ion-icon{
    width: 100%;
    height: 40vh;
}

  
  ion-button{
    --background: #A63C3C;
  }
  