<app-header titulo="BILLETERA VIRTUAL" class="ion-no-margin"></app-header>

<ion-content [fullscreen]="true" color="dark" class="fondo" style="top:5%;">
  <div class="center-content" class="fondo" color="dark">
    <ion-item class="giant" color="dark" *ngIf="usuario">
      <ion-label style="color: #FFC409;">${{ usuario.credito }}</ion-label>
    </ion-item>

    <ion-item-divider>
    </ion-item-divider>

    <ion-title class="ion-text-center">
            <h4>PRESIONE PARA ESCANEAR</h4>
    </ion-title>
    <ion-icon class="icon-custom" name="arrow-down-circle"></ion-icon>

    <div class="ion-activatable" color="dark">
      <ion-item (click)="presentActionSheet()" color="dark ion-text-center">
        <ion-label>
          <ion-button class="btn-qr">
            <ion-icon size="large" name="qr-code-sharp"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
    </div>


  </div>


</ion-content>
<ion-footer class="fondo" color="dark">
  <ion-toolbar class="fondo" color="dark">
    <ion-button [disabled]="usuario.credito == 0" class="custom-button" (click)="borrarCreditos()" size="large" expand="block" fill="solid">
      Limpiar créditos
    </ion-button>
  </ion-toolbar>
</ion-footer>