.giant
{
    text-align: center !important;
    font-size: 80px !important;
    font-size-adjust: inherit !important;
}

.my-custom-class
{
    background-color: grey !important;
}

.datos{
    text-decoration: solid;
}

.content-center{
    position: absolute;
    width: 100%;
}

.fondo{
    background-color: #222428;
}

ion-item{
    background-color: #222428 !important;
}