<ion-content class="ion-padding">


  <ion-router-outlet></ion-router-outlet>

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink]="['/inicio']" color="success">
      <ion-icon size="large" name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
    <ion-fab-button color="danger">
      <img [src]="opcion.img" alt="opcion.idioma">
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button *ngFor="let bandera of banderas" (click)="seleccionar(bandera)">
        <img [src]="bandera.img" alt="bandera.idioma">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
    <ion-fab-button color="success">
      <img [src]="selectedTheme.img">
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button *ngFor="let theme of themes" (click)="seleccionarTheme(theme)" color="success">
        <img [src]="theme.img" alt="bandera.idioma">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>