<app-header titulo="Feas"></app-header>

<ion-content >

  <ion-grid fixed >

    <ion-row > 
      
      <app-tarjetas [imagenes]="imagenes"></app-tarjetas>

    </ion-row>
   
  
  </ion-grid>

</ion-content>
<ion-footer >
  <ion-toolbar class="contenido">
        <ion-button (click)="subirFoto()" color="primary">
          <ion-icon name="camera-sharp"></ion-icon>
          <ion-label>Sacar foto</ion-label>
        </ion-button>
        <ion-button (click)="subirVarias()" color="medium" slot="primary">
          <ion-icon name="camera-sharp"></ion-icon>
          <ion-label>Subir varias</ion-label>
        </ion-button>

  </ion-toolbar>
</ion-footer>
