<app-header titulo="Menú principal"></app-header>
<ion-content [fullscreen]="true" class="fondo">

    <div class="center-content ion-text-center">
        <ion-title>
            <h1 style="color: #FFC404; font-family: fantasy;" class="bienvenido">BIENVENIDO</h1>
            <h1> - </h1>
            <h1 style="font-family: fantasy;">PRESIONE PARA ACTIVAR</h1>
        </ion-title>
        <ion-icon name="arrow-down-circle" color="warning"></ion-icon>
            <ion-button *ngIf="estado == 1" (click)="desactivarAlarma()" strong="true" class="boton-grande" color="danger"
                        expand="full" fill="solid" shape="round" [disabled]="!passwordForm.valid">
                <ion-img src="../../../assets/img/alarm-on.png"></ion-img>
            </ion-button>
            <ion-button *ngIf="estado == 0" (click)="activarAlarma()" strong="true" class="boton-grande" color="warning"
            expand="full" fill="solid" shape="round" [disabled]="deshabilitarBoton">
                <ion-img src="../../../assets/img/alarm-off.png"></ion-img>
            </ion-button>
            <form [formGroup]="passwordForm" (ngSubmit)="desactivarAlarma()">
                <ion-item *ngIf="estado == 1" class="fondo">
                    <ion-label class="custom-label" position="floating" color="dark">Ingrese su contraseña para desactivar</ion-label>
                    <ion-input formControlName="password" type="password"></ion-input>
                </ion-item>
                <ion-note *ngIf="isSubmitted && errorControl.password.errors?.required" class="error-msg custom-label-sm">
                    La contraseña es requerida.
                </ion-note>
                <ion-note *ngIf="isSubmitted && errorControl.password.errors?.minlength" class="error-msg custom-label-sm">
                    Al menos 6 caracteres
                </ion-note>
            </form>
    
    </div>



</ion-content>

<ion-footer class="ion-color-dark text-center">
    <ion-title>
        <h1 style="color: #FFC404" class="bienvenido">ALARMATOR</h1>
    </ion-title>
</ion-footer>