.boton-grande{
    height: 40vh;
    width: calc(45vh - 5px);
}


.center-content{
    position: absolute;
}

ion-item{
    margin-top: 1rem;
}

h1{
    font-weight: 900;
    font-size: large;
}

.bienvenido{
    font-size: xx-large;
}

.error-msg{
    align-self: flex-start;
    align-content: flex-start;
    color: red;
}

ion-img{
    width: 50vh;
    height: 50vh;
}

ion-icon{
    width: 10vh;
    height: 10vh;
}

ion-input{
    font-size: x-large;
    color: #FFC409;
    font-weight: 700;
    font-family: cursive;
  }

  .custom-label{
    font-size: large;
    font-family: cursive;
  }

  .custom-label-sm{
    font-size: medium;
    font-family: cursive;
  }
  

  ion-footer{
    text-align: center;
    background-color: #222428;
    font-family: cursive;
  }

