#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
}

.button-user{
  --background: #594E4D !important;
  height: 6vh;
}

ion-toolbar{
  --background: #732626 !important;
}

ion-button{
  --background: #A63C3C;
}

h1{
  font-size: xxx-large;
  font-weight: bolder;
}

.button-login{
  font-size: xx-large;
  font-weight: bolder;
  font-family: emoji;
  height: 9vh;
}

.custom-label-xl{
  font-size: x-large;
  font-weight: bolder;
  font-family: emoji;
}

.custom-label-xxl{
  font-size: xx-large;
  font-weight: bolder;
  font-family: emoji;
}

.custom-label-l{
  font-size: large;
  font-weight: bolder;
  font-family: emoji;
}

.custom-label-m{
  font-size: medium;
  font-weight: bolder;
  font-family: emoji;
}

.divider{
  margin-top: 1vh;
  margin-bottom: 1vh;
}

ion-img{
  height: 38vh;
}