.splash{
        .tracking-in-expand {
            animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }

        .tracking-in-contract-bck {
            animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }

        .cls-5, .cls-6 {
            opacity: 0;
            animation: 2s 1.5s linear fadeIn;
            animation-fill-mode: forwards;
        }
}

@keyframes fadeInAndSpin {

    100% {
        opacity: 1;
        transform: rotate3d(1, 1, 0, 0deg);
    }

}

@keyframes fadeIn {

    100% {
        opacity: 1;
    }

}

@keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

ion-content{
    --background:#545454;
    top: 30%;
    position: absolute;
}
