.text {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    color: #4e4e4e;
    text-align: center;
  }

  ion-icon{
    font-size: 64px !important;
  }

  ion-button{
    width: 100% !important;
    height: 100% !important;
  }