<app-header titulo="Iniciar sesión"></app-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="center-content">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitTemplate()">
      
      <ion-item class="fondo">
        <ion-label position="floating" color="dark"><strong>Email</strong></ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <ion-note *ngIf="isNotValidField('email')" class="error-msg">
        {{getErrorMessage('email')}}
      </ion-note>

      <ion-item class="fondo">
        <ion-label position="floating" color="dark"><strong>Password</strong></ion-label>
        <ion-input formControlName="pass" type="password"></ion-input>
      </ion-item>
  
      <ion-note *ngIf="isNotValidField('pass')" class="error-msg">
        {{getErrorMessage('pass')}}
      </ion-note>
  
      <div class="fondo">
        <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">
          Entrar
        </ion-button>
      </div>
  </form>
  </div>
  
</ion-content>
