.boton-grande{
    height: 39vh;
}

.container{
    width: 100%;
    position: absolute;
    top: 13%;
}


h1{
    font-weight: bolder;
    margin-top: 20px;
    font-size: xxx-large;
    font-family: cursive;
}

ion-label{
    font-family: fantasy;
}